/app/v1/node_modules
/app/v1/public/build
/app/v1/public/hot
/app/v1/public/storage
/storage/*.key
/app/v1/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/app/v1/.fleet
/app/v1/.idea
.vscode

.DS_Store